/* Variables */

/* Colors */
$grey-color: #666666;
$dark-grey: #333333;
$light-green: #b4ddc1;

/* Base Unit */
$base-unit: 10px;

/* Media Query */
$desktop: 1199px;
$medium-desktop: 1024px;
$small-desktop: 991px;
$tablet: 768px;
$phone: 480px;
$small-phone: 320px;

